site_name: Data Viz Community of Practice
# site_url: https://example.com
repo_url: https://github.com/NHSDigital/data-viz-community-of-practice
repo_name: Data Viz Community of Practice
edit_uri: edit/main/docs/
plugins:
  - git-revision-date-localized:
      fallback_to_build_date: true
  - search
  - mkdocs-jupyter:
      include_source: True
      theme: dark
nav:
  - Home: index.md
  # - About: about.md
  - Dashboard lifecycle:
      - dashboard_lifecycle/index.md
      - Planning cycle: dashboard_lifecycle/planning_cycle.md
      #- Development steps: dashboard_lifecycle/development_steps.md
      - Sketches, Wireframes and Prototypes: dashboard_lifecycle/sketches_wireframes_prototypes.md
  - Dashboard design:
      - dashboard_design/index.md
      - Principles: dashboard_design/principles.md
      - Layout & navigation: dashboard_design/layout.md
      - Cards: dashboard_design/cards.md
      - Typography: dashboard_design/typography.md
      - Colours: dashboard_design/colours.md
      - Icons & logos: dashboard_design/icons.md
      - Filters & buttons: dashboard_design/filters.md
      - KPIs: dashboard_design/kpis.md
      - Chart types: dashboard_design/chart_types.md
      - Table design: dashboard_design/tables.md
      - Tooltips: dashboard_design/tooltips.md
      - Information & metrics: dashboard_design/information.md
      - Download templates: dashboard_design/download_templates.md
      
  # - QA & Testing:

  # - Training resources:

  # - Support: support.md
  # - Glossary: glossary.md
  # - Useful links: useful_links.md
  # - Acknowledgements: acknowledgements.md

theme:
  name: material
  custom_dir: overrides
  palette:
    scheme: default
    primary: indigo
  font:
    text: Arial
  logo: images/logo/nhs-blue-on-white.jpg
  favicon: images/favicon/favicon.ico
  features:
    - search.share
    - content.code.annotate
    - content.tabs.link
    - navigation.tabs
    - navigation.indexes
    - navigation.path
    - toc.integrate
    - navigation.top
  icon:
    admonition:
      <type>: material/alert
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - pymdownx.tasklist:
      # clickable_checkbox: true
      custom_checkbox: true
  - tables
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/NHSDigital/data-viz-community-of-practice
      name: NHS Data Viz Community of Practice
  generator: false
copyright: Copyright &copy; 2022 Crown Copyright (NHS Digital)
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
watch:
  - overrides
plugins:
   - glightbox: