:root>* {
  --md-primary-fg-color: #005eb8;
  --md-default-bg-color: #f0f4f5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #f0f4f5;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  color: black;
  --md-footer-bg-color: #f0f4f5;
  --md-footer-fg-color: black;
  --md-footer-fg-color--light: black;
}

.md-typeset h1 {
  color: black;
  font-size: 2em;
  line-height: 1.3;
  margin: 0 0 1.25em;
}

.md-footer {
  background-color: #f6f8f8 !important;
}

.md-copyright {
  color: black;
}

.md-logo-nhs {
  height: auto;
}

.md-header__button.md-logo-nhs :is(img, svg) {
  width: 85px !important;
  height: auto !important;
}

code {
  background: #e5f1fa !important;
}

.md-ellipsis {
  font-weight: bold;
}

.footer {
  display: flex;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #f6f8f8;
  border-top: 3px solid #005eb8;
}

.footer>* {
  flex: 1 100%;
}

.footer a {
  color: #005eb8;
}

.footer_left p {
  font-size: 15px;
  font-weight: 400;
  margin: 1vh;
}

.colour-grid {
  display:grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.colour-div {
  width:200px;
  height:200px;
}

@media screen and (max-width: 600px) {
  .colour-div {
    width:150px; 
    height:150px;
  }
}

.legal {
  color: #999;
  font-size: 14px;
  justify-content: right;
  text-align: right;
  align-items: right;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

table {
  background-color: white !important;
}

:target:before {
  content: "";
  display: block;
  height: 40px;
  margin: -40px 0 0;
}

html {
  scroll-behavior: smooth;
}
